@import '@/styles/_variables.scss';

.header {
  max-height: var(--headerHeight);
  height: 100%;
  width: 100%;
  display: flex;
  top: 0;
  right: 0;
  z-index: 202;
  color: var(--whiteColor);
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  background-color: var(--headerBackgroundColor);
  // background-color: #0a346d;
  overflow: auto;
  box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;

  @media (max-width: 992px) {
    // margin-top: var(--headerHeight);
  }

  &.active {
    padding-left: var(--sidebarWidthActive);
    transition: var(--sidebarTransition);

    @media (max-width: 992px) {
      padding-left: 0;
    }

    @media (max-width: 640px) {
      padding-left: 0;
      width: 100%;
    }
  }

  &.inactive {
    padding-left: var(--sidebarWidthInactive);
    transition: var(--sidebarTransition);

    @media (max-width: 992px) {
      padding-left: 0;
    }

    @media (max-width: 640px) {
      padding-left: 0;
      width: 100%;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
    height: 100%;
    gap: 0;

    @media (max-width: 992px) {
      padding: 0 1.7rem;
    }

    @media (max-width: 640px) {
      padding: 0 1rem;
    }

    .left-nav {
      display: flex;
      align-items: center;
      max-height: var(--headerHeight);
      gap: 1rem;
    }

    .right-nav {
      display: flex;
      align-items: center;
      max-height: var(--headerHeight);

      .balance {
        background-color: #0e005d;
        border-radius: 10px;
      }
    }
  }
}
